<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>

<div *ngIf = "!isLoading; else loading">
  <div class="form-control">
    <input
      type="text"
      placeholder="Найти пост..."
      [ngModelOptions] = "{ standalone: true }"
      [(ngModel)] = "inputValue"
    >
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Автор</th>
      <th>Название</th>
      <th>Дата</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts | filterPosts : inputValue; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ post.author }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.date | date : 'medium' : null : 'ru' }}</td>
      <td>
        <button
          class="btn btn-link open"
          [routerLink] = "['/admin', 'post', 'edit', post.id]"
        >
          Редактировать
        </button>
        <br />
        <a (click) = "remove(post.id)">Удалить</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

