<div class="post">

  <div class="header">
    <h1>Название поста</h1>
    <button class="btn btn-link" routerLink="/">Назад</button>
  </div>

  <div class="info">
    <strong>Автор</strong>
    <small>Дата</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at autem cumque cupiditate dolorem ea esse et explicabo incidunt itaque iusto molestias perferendis possimus reiciendis rem, repellendus sequi similique, voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci amet, aut blanditiis corporis dignissimos dolor eaque error illum ipsam iste iusto laborum minus necessitatibus neque reprehenderit sit totam ut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat iusto laudantium possimus recusandae repellat, repellendus temporibus. Ad, aliquid consequuntur culpa, dolorum esse laboriosam, magni molestias mollitia nobis quos soluta voluptas!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cum cupiditate ex provident. Animi corporis delectus deleniti distinctio doloribus, eos expedita, labore mollitia nemo provident, quod sint suscipit ullam veritatis?</p>
  </div>
</div>
